!!!

%html
  %head
    %title Vancouver Tech on a Map
    %script{:src => "/js/jquery-1.4.4.min.js", :type => "text/javascript"}
    %script{:src => "/js/magic.js", :type => "text/javascript"}
    %link{:href => "/s/style.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
  %body
    #header
      %h1 Vancouver Tech on a Map
    #map