
html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px; font-family: 'Droid Serif', arial, serif; }

#content {
  position:absolute;
  z-index:1;
  width: 280px;
  top: 0;
  left: 90px;
}

p {
  font-size: 0.8em;
  color: #333;
}

.panel {
  background-color:#fff;
  opacity:0.85;
}

#form_container {
  position:absolute;
  z-index:3;
  right:0;
  opacity:0.95;
  display:none;
}

#form_container #cancel {
  position:absolute;
  z-index:4;
  right:40px;
  padding-top:10px;
  font-size:1.2em;
}

#form_container #form {
  width: 700px;
  height:99%;
  frameborder:0px;
  marginheight:0px;
  marginwidth:0px;
}

#content h1 {
  margin:0;
  font-size:1.2em;
  padding:10px 10px 10px 20px;
  font-weight:normal;
}

#content #description {
  margin: 0;
  padding:0px 0px 10px 20px;
}

#embed_me {
  position:absolute;
  z-index:5;
  background-color: #fff;
  margin: 0 auto;
  padding:20px;
  border: 1px solid #ccc;
  top:100px;
  left:90px;
  opacity:0.95;
  display:none;
}
#embed_me p {
  margin:0;
}

#made_by {
  position: absolute;
  z-index:1;
  bottom:0;
  padding:10px;
  width: 210px;
  font-size:0.7em;
  left:90px;
  margin:0;
}

#map_canvas { height: 100%; width: 100%; }

.map_company_name {
  font-size: 1em;
  font-weight:normal;
  margin: 5px 0px;
  width:270px;
}

.map_comany_info {
  font-size: 0.8em;
  color: #222;
  width:270px;
  margin: 0;
}